04-django/se1/db.sqlite3
04-django/se1/config/__pycache__/
01-python-moghadamati/se1/.ipynb_checkpoints/
01-python-moghadamati/venv/
04-django/se2/config/__pycache__/
04-django/se2/db.sqlite3
04-django/se3/config/__pycache__/
04-django/se3/db.sqlite3
